.dialog-content {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

:host ::ng-deep {
  .p-dialog-content {
    overflow-y: auto;
  }
}

.dialog-responsive {
  width: 400px;
  @media screen and (max-width: 450px) {
    width: 80vw;
  }
}
